<div id="reset-page">
  <form action class="lobi-form pass-forgot-form visible">
    <div class="login-header">
      Forgot your password?
    </div>
    <div class="login-body">
      <fieldset>
        <div class="form-group">
          <label>Email or username</label>
          <label class="input">
            <span class="input-icon input-icon-prepend fa fa-envelope"></span>
            <span class="input-icon input-icon-append fa fa-user"></span>
            <input type="text" name="username" placeholder="Email or username">
            <span class="tooltip tooltip-bottom-right">Type the email or username used for registration</span>
          </label>
          <a href="/login" type="button" class="btn-link btn-sign-in">Remember your password?</a>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-info btn-block"><i class="fa fa-refresh"></i> Restore password</button>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="login-footer">
      New user?
      <a href="/signup" type="button" class="btn btn-xs btn-info btn-sign-up pull-right">Sign up</a>
    </div>
  </form>
</div>