<!DOCTYPE html>
<!--Author     : @arboshiki-->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Login to LobiAdmin</title>
  <link rel="shortcut icon" href="img/logo/lobiadmin-logo-16.ico"/>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css"/>

  <link rel="stylesheet" href="css/login.css"/>
</head>
<body style="background-image: url('img/demo/3_1920.jpg')">
<div class="login-wrapper fadeInDown animated">
  {{{body}}}
</div>


<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
  // $('.login-wrapper').ready(function () {
  //   $('.login-form').submit(function () {
  //     window.location.href = window.location.href + "/../";
  //     return false;
  //   });
  //   $('.signup-form').submit(function () {
  //     return false;
  //   });
  //   $('.pass-forgot-form').submit(function () {
  //     return false;
  //   });
  // });
  // $('.btn-forgot-password').click(function (ev) {
  //   var $form = $(this).closest('form');
  //   $form.removeClass('visible');
  //   $form.parent().find('.pass-forgot-form').addClass('visible');
  // });
  // $('.btn-sign-in').click(function () {
  //   var $form = $(this).closest('form');
  //   $form.removeClass('visible');
  //   $form.parent().find('.login-form').addClass('visible');
  // });
  // $('.btn-sign-up').click(function () {
  //   var $form = $(this).closest('form');
  //   $form.removeClass('visible');
  //   $form.parent().find('.signup-form').addClass('visible');
  // });
</script>
</body>
</html>
